.flex-menus{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
}
.main-padding{
    padding: 100px 0 ;
}
/* space_item */
.space-small{
    height: 15px;
}
.space-medium{
    height: 30px;
}
.space-large{
    height: 45px;
}

.display-none{
    display: none;
}
.content-left{
    float:left;
}
.content-right{
    float:right;
}
.header-space-between{
    display: flex;
    justify-content: space-between;
}
.text-line-center{
    max-width: 400;
    margin: 0.auto;
    padding: 1rem;
    height: auto;
    width: calc(100%-2rem);
}
.text-title-center{
    text-align: center;     
}
.p-media__thumb {
    position: relative;
    overflow: hidden;
    width: 100%
}

.p-media__thumb::before {
    content: "";
    display: block;
    padding-top: 100%;
}

.p-media__thumb > img {
    position: absolute;
    object-fit: cover;
    object-position: center;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}
