.flex-menus{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
}
.app-padding{
    padding: 96px 0 ;
}
/* space_item */
.space-small{
    height: 15px;
}
.space-medium{
    height: 30px;
}
.space-large{
    height: 45px;
}

.display-none{
    display: none;
}
.content-left{
    float:left;
}
.content-right{
    float:right;
}
.header-space-between{
    display: flex;
    justify-content: space-between;
}